# Flutter-related
**/Flutter/ephemeral/
**/Pods/
Flutter/Flutter-Debug.xcconfig
Flutter/Flutter-Release.xcconfig
Flutter/GeneratedPluginRegistrant.swift

# Xcode-related
**/dgph
**/xcuserdata/

# CocoaPods
Podfile
Podfile.lock
